<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>Class Litwicki\Bundle\ChargifyBundle\Model\Component</title>

	<link rel="stylesheet" href="resources/style.css?e99947befd7bf673c6b43ff75e9e0f170c88a60e">

</head>

<body>
<div id="left">
	<div id="menu">
		<a href="index.html" title="Overview"><span>Overview</span></a>


		<div id="groups">
				<h3>Namespaces</h3>
			<ul>
				<li class="active">
					<a href="namespace-Litwicki.html">
						Litwicki<span></span>
					</a>

						<ul>
				<li class="active">
					<a href="namespace-Litwicki.Bundle.html">
						Bundle<span></span>
					</a>

						<ul>
				<li class="active">
					<a href="namespace-Litwicki.Bundle.ChargifyBundle.html">
						ChargifyBundle<span></span>
					</a>

						<ul>
				<li>
					<a href="namespace-Litwicki.Bundle.ChargifyBundle.Controller.html">
						Controller					</a>

						</li>
				<li>
					<a href="namespace-Litwicki.Bundle.ChargifyBundle.DependencyInjection.html">
						DependencyInjection					</a>

						</li>
				<li>
					<a href="namespace-Litwicki.Bundle.ChargifyBundle.Exception.html">
						Exception					</a>

						</li>
				<li>
					<a href="namespace-Litwicki.Bundle.ChargifyBundle.Handler.html">
						Handler					</a>

						</li>
				<li class="active">
					<a href="namespace-Litwicki.Bundle.ChargifyBundle.Model.html">
						Model					</a>

						</li>
				<li>
					<a href="namespace-Litwicki.Bundle.ChargifyBundle.Services.html">
						Services					</a>

						</li>
							</ul></li></ul></li></ul></li>
			</ul>
		</div>

		<hr>


		<div id="elements">
			<h3>Classes</h3>
			<ul>
				<li><a href="class-Litwicki.Bundle.ChargifyBundle.Model.Adjustment.html">Adjustment</a></li>
				<li><a href="class-Litwicki.Bundle.ChargifyBundle.Model.Allocation.html">Allocation</a></li>
				<li><a href="class-Litwicki.Bundle.ChargifyBundle.Model.Charge.html">Charge</a></li>
				<li class="active"><a href="class-Litwicki.Bundle.ChargifyBundle.Model.Component.html">Component</a></li>
				<li><a href="class-Litwicki.Bundle.ChargifyBundle.Model.Coupon.html">Coupon</a></li>
				<li><a href="class-Litwicki.Bundle.ChargifyBundle.Model.Credit.html">Credit</a></li>
				<li><a href="class-Litwicki.Bundle.ChargifyBundle.Model.Customer.html">Customer</a></li>
				<li><a href="class-Litwicki.Bundle.ChargifyBundle.Model.Event.html">Event</a></li>
				<li><a href="class-Litwicki.Bundle.ChargifyBundle.Model.Invoice.html">Invoice</a></li>
				<li><a href="class-Litwicki.Bundle.ChargifyBundle.Model.ManagementLink.html">ManagementLink</a></li>
				<li><a href="class-Litwicki.Bundle.ChargifyBundle.Model.Migration.html">Migration</a></li>
				<li><a href="class-Litwicki.Bundle.ChargifyBundle.Model.Payment.html">Payment</a></li>
				<li><a href="class-Litwicki.Bundle.ChargifyBundle.Model.PaymentProfile.html">PaymentProfile</a></li>
				<li><a href="class-Litwicki.Bundle.ChargifyBundle.Model.Product.html">Product</a></li>
				<li><a href="class-Litwicki.Bundle.ChargifyBundle.Model.Refund.html">Refund</a></li>
				<li><a href="class-Litwicki.Bundle.ChargifyBundle.Model.RenewalPreview.html">RenewalPreview</a></li>
				<li><a href="class-Litwicki.Bundle.ChargifyBundle.Model.Statement.html">Statement</a></li>
				<li><a href="class-Litwicki.Bundle.ChargifyBundle.Model.Subscription.html">Subscription</a></li>
				<li><a href="class-Litwicki.Bundle.ChargifyBundle.Model.Webhook.html">Webhook</a></li>
			</ul>





		</div>
	</div>
</div>

<div id="splitter"></div>

<div id="right">
<div id="rightInner">
	<form id="search">
		<input type="hidden" name="cx" value="">
		<input type="hidden" name="ie" value="UTF-8">
		<input type="text" name="q" class="text" placeholder="Search">
	</form>

	<div id="navigation">
		<ul>
			<li>
				<a href="index.html" title="Overview"><span>Overview</span></a>
			</li>
			<li>
				<a href="namespace-Litwicki.Bundle.ChargifyBundle.Model.html" title="Summary of Litwicki\Bundle\ChargifyBundle\Model"><span>Namespace</span></a>
			</li>
			<li class="active">
<span>Class</span>			</li>
		</ul>
		<ul>
		</ul>
		<ul>
		</ul>
	</div>

<div id="content" class="class">
	<h1>Class Component</h1>



	<dl class="tree">
		<dd style="padding-left:0px">
			<a href="class-Litwicki.Bundle.ChargifyBundle.Services.ChargifyModel.html"><span>Litwicki\Bundle\ChargifyBundle\Services\ChargifyModel</span></a>
			
			
			
		</dd>
		<dd style="padding-left:30px">
			<img src="resources/inherit.png" alt="Extended by">
<b><span>Litwicki\Bundle\ChargifyBundle\Model\Component</span></b>			
			 implements 
				<a href="class-Litwicki.Bundle.ChargifyBundle.Services.ChargifyInterface.html"><span>Litwicki\Bundle\ChargifyBundle\Services\ChargifyInterface</span></a>
			
			
		</dd>
	</dl>








	<div class="info">
		
		
		<b>Namespace:</b> <a href="namespace-Litwicki.html">Litwicki</a>\<a href="namespace-Litwicki.Bundle.html">Bundle</a>\<a href="namespace-Litwicki.Bundle.ChargifyBundle.html">ChargifyBundle</a>\<a href="namespace-Litwicki.Bundle.ChargifyBundle.Model.html">Model</a><br>
		

			<b>Located at</b> <a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#8-337" title="Go to source code">Litwicki/Bundle/ChargifyBundle/Model/Component.php</a>
		<br>
	</div>



	<table class="summary methods" id="methods">
	<caption>Methods summary</caption>
	<tr data-order="__construct" id="___construct">

		<td class="attributes"><code>
			 public 

			
			
			</code>
		</td>

		<td class="name"><div>
		<a class="anchor" href="#___construct">#</a>
		<code><a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#96-104" title="Go to source code">__construct</a>( <span> <var>$subscription_id</var></span> )</code>

		<div class="description short">
			<p>Construct the Component.</p>
		</div>

		<div class="description detailed hidden">
			<p>Construct the Component.</p>


				<h4>Parameters</h4>
				<div class="list"><dl>
					<dt><var>$subscription_id</var></dt>
					<dd></dd>
				</dl></div>





		</div>
		</div></td>
	</tr>
	<tr data-order="getAllocatedQuantity" id="_getAllocatedQuantity">

		<td class="attributes"><code>
			 public 

			mixed
			
			</code>
		</td>

		<td class="name"><div>
		<a class="anchor" href="#_getAllocatedQuantity">#</a>
		<code><a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#106-112" title="Go to source code">getAllocatedQuantity</a>( )</code>

		<div class="description short">
			
		</div>

		<div class="description detailed hidden">
			



				<h4>Returns</h4>
				<div class="list">
					mixed
				</div>




		</div>
		</div></td>
	</tr>
	<tr data-order="setAllocatedQuantity" id="_setAllocatedQuantity">

		<td class="attributes"><code>
			 public 

			
			
			</code>
		</td>

		<td class="name"><div>
		<a class="anchor" href="#_setAllocatedQuantity">#</a>
		<code><a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#114-120" title="Go to source code">setAllocatedQuantity</a>( <span>mixed <var>$allocated_quantity</var></span> )</code>

		<div class="description short">
			
		</div>

		<div class="description detailed hidden">
			


				<h4>Parameters</h4>
				<div class="list"><dl>
					<dt><var>$allocated_quantity</var></dt>
					<dd></dd>
				</dl></div>





		</div>
		</div></td>
	</tr>
	<tr data-order="getUnitBalance" id="_getUnitBalance">

		<td class="attributes"><code>
			 public 

			mixed
			
			</code>
		</td>

		<td class="name"><div>
		<a class="anchor" href="#_getUnitBalance">#</a>
		<code><a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#122-128" title="Go to source code">getUnitBalance</a>( )</code>

		<div class="description short">
			
		</div>

		<div class="description detailed hidden">
			



				<h4>Returns</h4>
				<div class="list">
					mixed
				</div>




		</div>
		</div></td>
	</tr>
	<tr data-order="setUnitBalance" id="_setUnitBalance">

		<td class="attributes"><code>
			 public 

			
			
			</code>
		</td>

		<td class="name"><div>
		<a class="anchor" href="#_setUnitBalance">#</a>
		<code><a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#130-136" title="Go to source code">setUnitBalance</a>( <span>mixed <var>$unit_balance</var></span> )</code>

		<div class="description short">
			
		</div>

		<div class="description detailed hidden">
			


				<h4>Parameters</h4>
				<div class="list"><dl>
					<dt><var>$unit_balance</var></dt>
					<dd></dd>
				</dl></div>





		</div>
		</div></td>
	</tr>
	<tr data-order="getComponentId" id="_getComponentId">

		<td class="attributes"><code>
			 public 

			mixed
			
			</code>
		</td>

		<td class="name"><div>
		<a class="anchor" href="#_getComponentId">#</a>
		<code><a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#138-144" title="Go to source code">getComponentId</a>( )</code>

		<div class="description short">
			
		</div>

		<div class="description detailed hidden">
			



				<h4>Returns</h4>
				<div class="list">
					mixed
				</div>




		</div>
		</div></td>
	</tr>
	<tr data-order="setComponentId" id="_setComponentId">

		<td class="attributes"><code>
			 public 

			
			
			</code>
		</td>

		<td class="name"><div>
		<a class="anchor" href="#_setComponentId">#</a>
		<code><a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#146-152" title="Go to source code">setComponentId</a>( <span>mixed <var>$component_id</var></span> )</code>

		<div class="description short">
			
		</div>

		<div class="description detailed hidden">
			


				<h4>Parameters</h4>
				<div class="list"><dl>
					<dt><var>$component_id</var></dt>
					<dd></dd>
				</dl></div>





		</div>
		</div></td>
	</tr>
	<tr data-order="getSubscriptionId" id="_getSubscriptionId">

		<td class="attributes"><code>
			 public 

			mixed
			
			</code>
		</td>

		<td class="name"><div>
		<a class="anchor" href="#_getSubscriptionId">#</a>
		<code><a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#154-160" title="Go to source code">getSubscriptionId</a>( )</code>

		<div class="description short">
			
		</div>

		<div class="description detailed hidden">
			



				<h4>Returns</h4>
				<div class="list">
					mixed
				</div>




		</div>
		</div></td>
	</tr>
	<tr data-order="setSubscriptionId" id="_setSubscriptionId">

		<td class="attributes"><code>
			 public 

			
			
			</code>
		</td>

		<td class="name"><div>
		<a class="anchor" href="#_setSubscriptionId">#</a>
		<code><a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#162-168" title="Go to source code">setSubscriptionId</a>( <span>mixed <var>$subscription_id</var></span> )</code>

		<div class="description short">
			
		</div>

		<div class="description detailed hidden">
			


				<h4>Parameters</h4>
				<div class="list"><dl>
					<dt><var>$subscription_id</var></dt>
					<dd></dd>
				</dl></div>





		</div>
		</div></td>
	</tr>
	<tr data-order="getArchived" id="_getArchived">

		<td class="attributes"><code>
			 public 

			mixed
			
			</code>
		</td>

		<td class="name"><div>
		<a class="anchor" href="#_getArchived">#</a>
		<code><a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#170-176" title="Go to source code">getArchived</a>( )</code>

		<div class="description short">
			
		</div>

		<div class="description detailed hidden">
			



				<h4>Returns</h4>
				<div class="list">
					mixed
				</div>




		</div>
		</div></td>
	</tr>
	<tr data-order="setArchived" id="_setArchived">

		<td class="attributes"><code>
			 public 

			
			
			</code>
		</td>

		<td class="name"><div>
		<a class="anchor" href="#_setArchived">#</a>
		<code><a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#178-184" title="Go to source code">setArchived</a>( <span>mixed <var>$archived</var></span> )</code>

		<div class="description short">
			
		</div>

		<div class="description detailed hidden">
			


				<h4>Parameters</h4>
				<div class="list"><dl>
					<dt><var>$archived</var></dt>
					<dd></dd>
				</dl></div>





		</div>
		</div></td>
	</tr>
	<tr data-order="getDescription" id="_getDescription">

		<td class="attributes"><code>
			 public 

			mixed
			
			</code>
		</td>

		<td class="name"><div>
		<a class="anchor" href="#_getDescription">#</a>
		<code><a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#186-192" title="Go to source code">getDescription</a>( )</code>

		<div class="description short">
			
		</div>

		<div class="description detailed hidden">
			



				<h4>Returns</h4>
				<div class="list">
					mixed
				</div>




		</div>
		</div></td>
	</tr>
	<tr data-order="setDescription" id="_setDescription">

		<td class="attributes"><code>
			 public 

			
			
			</code>
		</td>

		<td class="name"><div>
		<a class="anchor" href="#_setDescription">#</a>
		<code><a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#194-200" title="Go to source code">setDescription</a>( <span>mixed <var>$description</var></span> )</code>

		<div class="description short">
			
		</div>

		<div class="description detailed hidden">
			


				<h4>Parameters</h4>
				<div class="list"><dl>
					<dt><var>$description</var></dt>
					<dd></dd>
				</dl></div>





		</div>
		</div></td>
	</tr>
	<tr data-order="getId" id="_getId">

		<td class="attributes"><code>
			 public 

			mixed
			
			</code>
		</td>

		<td class="name"><div>
		<a class="anchor" href="#_getId">#</a>
		<code><a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#202-208" title="Go to source code">getId</a>( )</code>

		<div class="description short">
			
		</div>

		<div class="description detailed hidden">
			



				<h4>Returns</h4>
				<div class="list">
					mixed
				</div>




		</div>
		</div></td>
	</tr>
	<tr data-order="getKind" id="_getKind">

		<td class="attributes"><code>
			 public 

			mixed
			
			</code>
		</td>

		<td class="name"><div>
		<a class="anchor" href="#_getKind">#</a>
		<code><a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#210-216" title="Go to source code">getKind</a>( )</code>

		<div class="description short">
			
		</div>

		<div class="description detailed hidden">
			



				<h4>Returns</h4>
				<div class="list">
					mixed
				</div>




		</div>
		</div></td>
	</tr>
	<tr data-order="setKind" id="_setKind">

		<td class="attributes"><code>
			 public 

			
			
			</code>
		</td>

		<td class="name"><div>
		<a class="anchor" href="#_setKind">#</a>
		<code><a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#218-224" title="Go to source code">setKind</a>( <span>mixed <var>$kind</var></span> )</code>

		<div class="description short">
			
		</div>

		<div class="description detailed hidden">
			


				<h4>Parameters</h4>
				<div class="list"><dl>
					<dt><var>$kind</var></dt>
					<dd></dd>
				</dl></div>





		</div>
		</div></td>
	</tr>
	<tr data-order="getName" id="_getName">

		<td class="attributes"><code>
			 public 

			mixed
			
			</code>
		</td>

		<td class="name"><div>
		<a class="anchor" href="#_getName">#</a>
		<code><a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#226-232" title="Go to source code">getName</a>( )</code>

		<div class="description short">
			
		</div>

		<div class="description detailed hidden">
			



				<h4>Returns</h4>
				<div class="list">
					mixed
				</div>




		</div>
		</div></td>
	</tr>
	<tr data-order="setName" id="_setName">

		<td class="attributes"><code>
			 public 

			
			
			</code>
		</td>

		<td class="name"><div>
		<a class="anchor" href="#_setName">#</a>
		<code><a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#234-240" title="Go to source code">setName</a>( <span>mixed <var>$name</var></span> )</code>

		<div class="description short">
			
		</div>

		<div class="description detailed hidden">
			


				<h4>Parameters</h4>
				<div class="list"><dl>
					<dt><var>$name</var></dt>
					<dd></dd>
				</dl></div>





		</div>
		</div></td>
	</tr>
	<tr data-order="getPrices" id="_getPrices">

		<td class="attributes"><code>
			 public 

			mixed
			
			</code>
		</td>

		<td class="name"><div>
		<a class="anchor" href="#_getPrices">#</a>
		<code><a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#242-248" title="Go to source code">getPrices</a>( )</code>

		<div class="description short">
			
		</div>

		<div class="description detailed hidden">
			



				<h4>Returns</h4>
				<div class="list">
					mixed
				</div>




		</div>
		</div></td>
	</tr>
	<tr data-order="setPrices" id="_setPrices">

		<td class="attributes"><code>
			 public 

			
			
			</code>
		</td>

		<td class="name"><div>
		<a class="anchor" href="#_setPrices">#</a>
		<code><a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#250-256" title="Go to source code">setPrices</a>( <span>mixed <var>$prices</var></span> )</code>

		<div class="description short">
			
		</div>

		<div class="description detailed hidden">
			


				<h4>Parameters</h4>
				<div class="list"><dl>
					<dt><var>$prices</var></dt>
					<dd></dd>
				</dl></div>





		</div>
		</div></td>
	</tr>
	<tr data-order="getPricingScheme" id="_getPricingScheme">

		<td class="attributes"><code>
			 public 

			mixed
			
			</code>
		</td>

		<td class="name"><div>
		<a class="anchor" href="#_getPricingScheme">#</a>
		<code><a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#258-264" title="Go to source code">getPricingScheme</a>( )</code>

		<div class="description short">
			
		</div>

		<div class="description detailed hidden">
			



				<h4>Returns</h4>
				<div class="list">
					mixed
				</div>




		</div>
		</div></td>
	</tr>
	<tr data-order="setPricingScheme" id="_setPricingScheme">

		<td class="attributes"><code>
			 public 

			
			
			</code>
		</td>

		<td class="name"><div>
		<a class="anchor" href="#_setPricingScheme">#</a>
		<code><a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#266-272" title="Go to source code">setPricingScheme</a>( <span>mixed <var>$pricing_scheme</var></span> )</code>

		<div class="description short">
			
		</div>

		<div class="description detailed hidden">
			


				<h4>Parameters</h4>
				<div class="list"><dl>
					<dt><var>$pricing_scheme</var></dt>
					<dd></dd>
				</dl></div>





		</div>
		</div></td>
	</tr>
	<tr data-order="getProductFamilyId" id="_getProductFamilyId">

		<td class="attributes"><code>
			 public 

			mixed
			
			</code>
		</td>

		<td class="name"><div>
		<a class="anchor" href="#_getProductFamilyId">#</a>
		<code><a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#274-280" title="Go to source code">getProductFamilyId</a>( )</code>

		<div class="description short">
			
		</div>

		<div class="description detailed hidden">
			



				<h4>Returns</h4>
				<div class="list">
					mixed
				</div>




		</div>
		</div></td>
	</tr>
	<tr data-order="setProductFamilyId" id="_setProductFamilyId">

		<td class="attributes"><code>
			 public 

			
			
			</code>
		</td>

		<td class="name"><div>
		<a class="anchor" href="#_setProductFamilyId">#</a>
		<code><a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#282-288" title="Go to source code">setProductFamilyId</a>( <span>mixed <var>$product_family_id</var></span> )</code>

		<div class="description short">
			
		</div>

		<div class="description detailed hidden">
			


				<h4>Parameters</h4>
				<div class="list"><dl>
					<dt><var>$product_family_id</var></dt>
					<dd></dd>
				</dl></div>





		</div>
		</div></td>
	</tr>
	<tr data-order="getTaxable" id="_getTaxable">

		<td class="attributes"><code>
			 public 

			mixed
			
			</code>
		</td>

		<td class="name"><div>
		<a class="anchor" href="#_getTaxable">#</a>
		<code><a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#290-296" title="Go to source code">getTaxable</a>( )</code>

		<div class="description short">
			
		</div>

		<div class="description detailed hidden">
			



				<h4>Returns</h4>
				<div class="list">
					mixed
				</div>




		</div>
		</div></td>
	</tr>
	<tr data-order="setTaxable" id="_setTaxable">

		<td class="attributes"><code>
			 public 

			
			
			</code>
		</td>

		<td class="name"><div>
		<a class="anchor" href="#_setTaxable">#</a>
		<code><a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#298-304" title="Go to source code">setTaxable</a>( <span>mixed <var>$taxable</var></span> )</code>

		<div class="description short">
			
		</div>

		<div class="description detailed hidden">
			


				<h4>Parameters</h4>
				<div class="list"><dl>
					<dt><var>$taxable</var></dt>
					<dd></dd>
				</dl></div>





		</div>
		</div></td>
	</tr>
	<tr data-order="getUnitName" id="_getUnitName">

		<td class="attributes"><code>
			 public 

			mixed
			
			</code>
		</td>

		<td class="name"><div>
		<a class="anchor" href="#_getUnitName">#</a>
		<code><a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#306-312" title="Go to source code">getUnitName</a>( )</code>

		<div class="description short">
			
		</div>

		<div class="description detailed hidden">
			



				<h4>Returns</h4>
				<div class="list">
					mixed
				</div>




		</div>
		</div></td>
	</tr>
	<tr data-order="setUnitName" id="_setUnitName">

		<td class="attributes"><code>
			 public 

			
			
			</code>
		</td>

		<td class="name"><div>
		<a class="anchor" href="#_setUnitName">#</a>
		<code><a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#314-320" title="Go to source code">setUnitName</a>( <span>mixed <var>$unit_name</var></span> )</code>

		<div class="description short">
			
		</div>

		<div class="description detailed hidden">
			


				<h4>Parameters</h4>
				<div class="list"><dl>
					<dt><var>$unit_name</var></dt>
					<dd></dd>
				</dl></div>





		</div>
		</div></td>
	</tr>
	<tr data-order="getUnitPrice" id="_getUnitPrice">

		<td class="attributes"><code>
			 public 

			mixed
			
			</code>
		</td>

		<td class="name"><div>
		<a class="anchor" href="#_getUnitPrice">#</a>
		<code><a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#322-328" title="Go to source code">getUnitPrice</a>( )</code>

		<div class="description short">
			
		</div>

		<div class="description detailed hidden">
			



				<h4>Returns</h4>
				<div class="list">
					mixed
				</div>




		</div>
		</div></td>
	</tr>
	<tr data-order="setUnitPrice" id="_setUnitPrice">

		<td class="attributes"><code>
			 public 

			
			
			</code>
		</td>

		<td class="name"><div>
		<a class="anchor" href="#_setUnitPrice">#</a>
		<code><a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#330-336" title="Go to source code">setUnitPrice</a>( <span>mixed <var>$unit_price</var></span> )</code>

		<div class="description short">
			
		</div>

		<div class="description detailed hidden">
			


				<h4>Parameters</h4>
				<div class="list"><dl>
					<dt><var>$unit_price</var></dt>
					<dd></dd>
				</dl></div>





		</div>
		</div></td>
	</tr>
	</table>

	<table class="summary inherited">
	<caption>Methods inherited from <a href="class-Litwicki.Bundle.ChargifyBundle.Services.ChargifyModel.html#methods">Litwicki\Bundle\ChargifyBundle\Services\ChargifyModel</a></caption>
	<tr>
		<td><code>
			<a href="class-Litwicki.Bundle.ChargifyBundle.Services.ChargifyModel.html#___call">__call()</a>, 
			<a href="class-Litwicki.Bundle.ChargifyBundle.Services.ChargifyModel.html#___toString">__toString()</a>, 
			<a href="class-Litwicki.Bundle.ChargifyBundle.Services.ChargifyModel.html#_getXmlRootName">getXmlRootName()</a>, 
			<a href="class-Litwicki.Bundle.ChargifyBundle.Services.ChargifyModel.html#_setId">setId()</a>
		</code></td>
	</tr>
	</table>











	<table class="summary properties" id="properties">
	<caption>Properties summary</caption>
	<tr data-order="id" id="$id">
		<td class="attributes"><code>
			protected  
			
		</code></td>

		<td class="name">
				<a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#10-13" title="Go to source code"><var>$id</var></a>

			<div class="description short">
				
			</div>

			<div class="description detailed hidden">
				

					<h4>Type</h4>
					<div class="list">
					</div>
			</div>
		</td>
		<td class="value">
			<div>
				<a href="#$id" class="anchor">#</a>
				<code></code>
			</div>
		</td>
	</tr>
	<tr data-order="description" id="$description">
		<td class="attributes"><code>
			protected  
			
		</code></td>

		<td class="name">
				<a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#15-18" title="Go to source code"><var>$description</var></a>

			<div class="description short">
				
			</div>

			<div class="description detailed hidden">
				

					<h4>Type</h4>
					<div class="list">
					</div>
			</div>
		</td>
		<td class="value">
			<div>
				<a href="#$description" class="anchor">#</a>
				<code></code>
			</div>
		</td>
	</tr>
	<tr data-order="product_family_id" id="$product_family_id">
		<td class="attributes"><code>
			protected  
			
		</code></td>

		<td class="name">
				<a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#20-23" title="Go to source code"><var>$product_family_id</var></a>

			<div class="description short">
				
			</div>

			<div class="description detailed hidden">
				

					<h4>Type</h4>
					<div class="list">
					</div>
			</div>
		</td>
		<td class="value">
			<div>
				<a href="#$product_family_id" class="anchor">#</a>
				<code></code>
			</div>
		</td>
	</tr>
	<tr data-order="kind" id="$kind">
		<td class="attributes"><code>
			protected  
			
		</code></td>

		<td class="name">
				<a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#25-28" title="Go to source code"><var>$kind</var></a>

			<div class="description short">
				
			</div>

			<div class="description detailed hidden">
				

					<h4>Type</h4>
					<div class="list">
					</div>
			</div>
		</td>
		<td class="value">
			<div>
				<a href="#$kind" class="anchor">#</a>
				<code></code>
			</div>
		</td>
	</tr>
	<tr data-order="archived" id="$archived">
		<td class="attributes"><code>
			protected  
			
		</code></td>

		<td class="name">
				<a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#30-33" title="Go to source code"><var>$archived</var></a>

			<div class="description short">
				
			</div>

			<div class="description detailed hidden">
				

					<h4>Type</h4>
					<div class="list">
					</div>
			</div>
		</td>
		<td class="value">
			<div>
				<a href="#$archived" class="anchor">#</a>
				<code></code>
			</div>
		</td>
	</tr>
	<tr data-order="name" id="$name">
		<td class="attributes"><code>
			protected  
			
		</code></td>

		<td class="name">
				<a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#35-38" title="Go to source code"><var>$name</var></a>

			<div class="description short">
				
			</div>

			<div class="description detailed hidden">
				

					<h4>Type</h4>
					<div class="list">
					</div>
			</div>
		</td>
		<td class="value">
			<div>
				<a href="#$name" class="anchor">#</a>
				<code></code>
			</div>
		</td>
	</tr>
	<tr data-order="taxable" id="$taxable">
		<td class="attributes"><code>
			protected  
			
		</code></td>

		<td class="name">
				<a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#40-43" title="Go to source code"><var>$taxable</var></a>

			<div class="description short">
				
			</div>

			<div class="description detailed hidden">
				

					<h4>Type</h4>
					<div class="list">
					</div>
			</div>
		</td>
		<td class="value">
			<div>
				<a href="#$taxable" class="anchor">#</a>
				<code></code>
			</div>
		</td>
	</tr>
	<tr data-order="unit_name" id="$unit_name">
		<td class="attributes"><code>
			protected  
			
		</code></td>

		<td class="name">
				<a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#45-48" title="Go to source code"><var>$unit_name</var></a>

			<div class="description short">
				
			</div>

			<div class="description detailed hidden">
				

					<h4>Type</h4>
					<div class="list">
					</div>
			</div>
		</td>
		<td class="value">
			<div>
				<a href="#$unit_name" class="anchor">#</a>
				<code></code>
			</div>
		</td>
	</tr>
	<tr data-order="unit_price" id="$unit_price">
		<td class="attributes"><code>
			protected  
			
		</code></td>

		<td class="name">
				<a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#50-53" title="Go to source code"><var>$unit_price</var></a>

			<div class="description short">
				
			</div>

			<div class="description detailed hidden">
				

					<h4>Type</h4>
					<div class="list">
					</div>
			</div>
		</td>
		<td class="value">
			<div>
				<a href="#$unit_price" class="anchor">#</a>
				<code></code>
			</div>
		</td>
	</tr>
	<tr data-order="pricing_scheme" id="$pricing_scheme">
		<td class="attributes"><code>
			protected  
			
		</code></td>

		<td class="name">
				<a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#55-58" title="Go to source code"><var>$pricing_scheme</var></a>

			<div class="description short">
				
			</div>

			<div class="description detailed hidden">
				

					<h4>Type</h4>
					<div class="list">
					</div>
			</div>
		</td>
		<td class="value">
			<div>
				<a href="#$pricing_scheme" class="anchor">#</a>
				<code></code>
			</div>
		</td>
	</tr>
	<tr data-order="prices" id="$prices">
		<td class="attributes"><code>
			protected  
			
		</code></td>

		<td class="name">
				<a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#60-63" title="Go to source code"><var>$prices</var></a>

			<div class="description short">
				
			</div>

			<div class="description detailed hidden">
				

					<h4>Type</h4>
					<div class="list">
					</div>
			</div>
		</td>
		<td class="value">
			<div>
				<a href="#$prices" class="anchor">#</a>
				<code></code>
			</div>
		</td>
	</tr>
	<tr data-order="subscription_id" id="$subscription_id">
		<td class="attributes"><code>
			protected  
			
		</code></td>

		<td class="name">
				<a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#65-68" title="Go to source code"><var>$subscription_id</var></a>

			<div class="description short">
				
			</div>

			<div class="description detailed hidden">
				

					<h4>Type</h4>
					<div class="list">
					</div>
			</div>
		</td>
		<td class="value">
			<div>
				<a href="#$subscription_id" class="anchor">#</a>
				<code></code>
			</div>
		</td>
	</tr>
	<tr data-order="component_id" id="$component_id">
		<td class="attributes"><code>
			protected  
			
		</code></td>

		<td class="name">
				<a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#70-73" title="Go to source code"><var>$component_id</var></a>

			<div class="description short">
				
			</div>

			<div class="description detailed hidden">
				

					<h4>Type</h4>
					<div class="list">
					</div>
			</div>
		</td>
		<td class="value">
			<div>
				<a href="#$component_id" class="anchor">#</a>
				<code></code>
			</div>
		</td>
	</tr>
	<tr data-order="allocated_quantity" id="$allocated_quantity">
		<td class="attributes"><code>
			protected  
			
		</code></td>

		<td class="name">
				<a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#75-78" title="Go to source code"><var>$allocated_quantity</var></a>

			<div class="description short">
				
			</div>

			<div class="description detailed hidden">
				

					<h4>Type</h4>
					<div class="list">
					</div>
			</div>
		</td>
		<td class="value">
			<div>
				<a href="#$allocated_quantity" class="anchor">#</a>
				<code></code>
			</div>
		</td>
	</tr>
	<tr data-order="quantity" id="$quantity">
		<td class="attributes"><code>
			protected  
			
		</code></td>

		<td class="name">
				<a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#80-84" title="Go to source code"><var>$quantity</var></a>

			<div class="description short">
				
			</div>

			<div class="description detailed hidden">
				

					<h4>Type</h4>
					<div class="list">
							int<br>
					</div>
			</div>
		</td>
		<td class="value">
			<div>
				<a href="#$quantity" class="anchor">#</a>
				<code></code>
			</div>
		</td>
	</tr>
	<tr data-order="memo" id="$memo">
		<td class="attributes"><code>
			protected  
			
		</code></td>

		<td class="name">
				<a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#86-89" title="Go to source code"><var>$memo</var></a>

			<div class="description short">
				
			</div>

			<div class="description detailed hidden">
				

					<h4>Type</h4>
					<div class="list">
							string<br>
					</div>
			</div>
		</td>
		<td class="value">
			<div>
				<a href="#$memo" class="anchor">#</a>
				<code></code>
			</div>
		</td>
	</tr>
	<tr data-order="unit_balance" id="$unit_balance">
		<td class="attributes"><code>
			protected  
			
		</code></td>

		<td class="name">
				<a href="source-class-Litwicki.Bundle.ChargifyBundle.Model.Component.html#91-94" title="Go to source code"><var>$unit_balance</var></a>

			<div class="description short">
				
			</div>

			<div class="description detailed hidden">
				

					<h4>Type</h4>
					<div class="list">
					</div>
			</div>
		</td>
		<td class="value">
			<div>
				<a href="#$unit_balance" class="anchor">#</a>
				<code></code>
			</div>
		</td>
	</tr>
	</table>






</div>

	<div id="footer">
		 API documentation generated by <a href="http://apigen.org">ApiGen</a>
	</div>
</div>
</div>
<script src="resources/combined.js"></script>
<script src="elementlist.js"></script>
</body>
</html>
